* {
  margin: 0px;
  padding: 0px;
}

body {
  background: crimson url("../img/background.png");
  background-size: 178px;
  padding-left: 15%;
  width: 70%;
  animation: slide 10s linear infinite;
  overflow: visible;
}

@keyframes slide {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 178px;
  }
}

hr{
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
  background-color: crimson;
  padding: 24px; /* Поля вокруг текста */
  border: 4px solid brown;
  z-index: 2;
}

.test2 {
  margin-left: auto;
  margin-right: auto;
}

.test3 {
  margin-left: 99%;
}

.test1 {
  color: white;
  font-size: 36px;
  font-family: "Sega";
  text-align: center;
}

li {
  list-style-type: none;
}

li::before {
  content: "› ";
  font-weight: 1000;
  color: crimson;
}

main {
  background: gainsboro; /* Цвет фона */
  padding: 10px;
  font-family: "Courier New";
  src: url("../font/ice_pixel-7.ttf");
  font-size: 24px;
  z-index: 1;
}

.buton {
  border: 2px solid brown;
  padding: 5px;
  background-color: maroon;
  text-decoration: none;
  color: aliceblue;
  font-family: "Roboto Regular";
  src: url("../font/anothercastle3.ttf");
  font-size: 24px;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../font/anothercastle3.ttf");
}

@font-face {
  font-family: "Courier New";
  src: url("../font/lucidaconsole.ttf");
}

@font-face {
  font-family: "Sega";
  src: url("../font/segalogofontrusbylyajka.otf");
}

.gfs {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
}

.tgf {
  margin-left: calc(50% - 250px);
}

.boxinf {
  border: 1px solid gray;
  text-align: left;
  width: min-content;
}

.cent {
  width: 70%;
  margin-left: 15%;
}

.vid {
  border: 4px black solid;
  margin-left: 15%;
}

.imges {
  display: flex;
  border: 4px solid gray;
}

.imges2 {
  display: flex;
  border: 4px solid gray;
  overflow: scroll;
}

.uh {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.podval {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.uh1 {
    text-align: center;
}

.imgg {
  border: 4px solid rgb(0, 0, 0);
  padding: 0px;
}
.bucket {
  text-decoration: none;
  color: black;
}

.buton3 {
  text-decoration: none;
  color: white;
}

.buton3:hover {
  color: white;
  transition: 0.2;
  padding-left: 10px;
  transition-duration: 0.2s;
}

a:hover {
  color: red;
  transition: 0.8;
  transition-duration: 0.8s;
}

.semi {
  display: flex;
  opacity: 0; /* Полупрозрачность элемента */
  width: 32px;
  height: 32px;
}

.semi:hover {
  opacity: 0.5;
}

/*.podval:before {
  content: "vxbvc";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all 2s ease;
}
*/
.podval:hover:before {
  width: 100%;
}

.da {
  font-weight: bold;
  display: inline-block; /* Строчно-блочный элемент */
  transition-duration: 3s; /* Время перехода */
  transform: translate(0, 0);
}

.da:hover {
  transition: 0.8;
  font-weight: bold;
  transform: scaleX(140%) translateX(14%);
  margin-right: 180px;
  transition-duration: 0.8s;
}
.imges3{
  display: flex;
  border: 4px solid rgb(0, 0, 0);
  transition-duration: 0.3s; /* Время перехода */
  transform: translate(0, 0);
}
.imges3:hover {
  display: flex;
  border: 4px solid RED;
  transition-duration: 0.3s;
  transform: scaleY(120%) translateY(12%) scaleX(120%) ;
  margin-bottom: 100px;
}
.ddd{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}