@font-face{
    font-family: 'RalewayRegular';
    src: url(../fonts/GlasstownNbpRegular-RyMM.woff) format("truetype");
}
body {
  background: crimson url("../img/background.png");
  background-size: 178px;
  padding-left: 15%;
  width: 70%;
  animation: slide 10s linear infinite;
  overflow: visible;
}

@keyframes slide {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 178px;
  }
}
body{
    background-color: black;
    color: white;

}
.yt{
    display: flex;
        justify-content: space-around;

}
.sas2{
      display: flex;
        justify-content: space-around;
}
.sas{
   padding: 15px;
    border: 2px dashed gainsboro;
     font-family: 'RalewayRegular';
     font-size: 32px;
    color: white;
    background-color: black;
}

.selectbox{
    padding: 15px;
    border: 2px dashed darkred;
     font-family: 'RalewayRegular';
     font-size: 32px;
     background-image: url(../img/ICON.png);
}
.selectbox:hover{
    transition: color 0.5s;
    
    color: red;
    padding: 15px;
     font-family: 'RalewayRegular';
     font-size: 32px;
     background-image: url(../img/icon2.png);
}
.bx2{
    display: flex; 
        justify-content: space-around;
}
.selectbox2{
    padding: 15px;
    border: 2px dashed darkred;
     font-family: 'RalewayRegular';
     font-size: 32px;
     background-image: url(../img/mus.png);
     background-repeat: no-repeat;
     background-size: cover;
}
.selectbox2:hover{
    transition: color 0.5s;  
    color: red;
}
.selectbox3{
    padding: 15px;
    border: 2px dashed darkred;
     font-family: 'RalewayRegular';
     font-size: 32px;
     background-image: url(../img/page.png);
     background-repeat: no-repeat;
     background-size: cover;
}
.selectbox3:hover{
    transition: color 0.5s;  
    color: red;
}
.selectbox4{
    padding: 15px;
    border: 2px dashed darkred;
     font-family: 'RalewayRegular';
     font-size: 32px;
     background-image: url(../img/donation.png);
     background-repeat: no-repeat;
     background-size:cover
}
.selectbox4:hover{
    transition: color 0.5s;  
    color: red;
}
a{
    text-decoration: none;
    color: White;
}
.sas3{
display: flex;
justify-content: space-around;
transition: font-size 0.5s;  
}
.sas3:hover{
display: flex;
justify-content: space-around;
color: red;
transition: color 0.5s;  
transition: font-size 0.5s;  
font-size: 48px;
}
.sas4{
     padding: 15px;
    border: 2px dashed gainsboro;
     font-family: 'RalewayRegular';
     font-size: 32px;
    color: white;
    background-color: black;
        display: flex;
    flex-direction: column;
}
.sas2{
      display: flex;
        justify-content: space-around;
}
.sized{
    height: 32px;
    width: 89px;
}
.sas5{
   padding: 15px;
    border: 2px dashed gainsboro;
     font-family: 'RalewayRegular';
     font-size: 32px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.riv{
    display: flex;
    justify-content: center;
    height: 1000px;
    width: 600px;
}